:root {
    --preview-margin: 200px;
}

::-webkit-scrollbar {
    width: 0;
    display: none !important;
}

::-webkit-scrollbar-track {
    background: #47474d;
}

::-webkit-scrollbar-thumb {
    background: rgb(173, 173, 173);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(195, 194, 194);
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: none;
}

body {
    /*
    background: rgb(98, 65, 69);
    background: linear-gradient(
        160deg,
        rgba(98, 65, 69, 1) 0%,
        rgba(2, 2, 3, 1) 70%
    );
    background: url('/public/img/song6.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    */
    color: white;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
}

.overlay {
    background: url('/public/img/song6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    overflow: auto;
    z-index: -2;
    inset: 0
}

.overlay .shadow {
    background: #0000005a;
    height: 100vh;
    width: 100vw;
    z-index: -2;
    inset: 0
}

html {
    scroll-behavior: smooth;
    overflow: auto;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    width: 100%;
}

.content {
    width: 80%;
    margin: auto;
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Alata', sans-serif;
    font-family: 'Nunito', sans-serif;
}

.title {
    text-align: center;
    padding: 20px;
}

.info {
    padding: 20px;
    padding-bottom: 50px;
    text-align: center;
}

.info p {
    color: #a2a2a2;
}

.nav {
    position: fixed;
    z-index: 100;
    height: 50px;
    transition: 0.3s;
}

.nav .content {
    display: flex;
}

.nav .side {
    display: flex;
    align-items: center;
    width: 50%;
}

.nav .right {
    justify-content: flex-end;
}

.nav .right a {
    margin-left: 20px;
}

@media (max-width: 460px) {
    .nav .right {
        display: none;
    }
}

.hero {
    height: 100vh;
}

.hero .filter {
    height: 100%;
}

.hero .content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 45px;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    gap: 18px;
    max-width: 800px;
    flex-grow: calc(10%);
    width: calc(100% - 20px);
    justify-content: center;
    margin: auto;
}

#cards .wrapper {
    display: flex;
    gap: 18px;
}

#cards .window {
    overflow: hidden;
    width: 640px;
    height: auto;
}

#cards .window.mobile {
    width: auto;
    height: 834px;
}

#cards .wrapper {
    display: flex;
    gap: 18px;
    transition: transform 0.4s ease;
    will-change: transform;
}


#cards .wrapper.mobile {
    flex-direction: column;
}

#cards:hover > .card::after {
    opacity: 1;
}

.card {
    background-color: #5c575734;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    height: 260px;
    flex-direction: column;
    position: relative;
    width: 200px;
    min-width: 200px;
    box-sizing: border-box;
    backdrop-filter: blur(5px);
    transition: 0.3s;
    user-select: none;
}

.card:hover {
    box-shadow:
        0 4px 8px 0 #59585815,
        0 6px 20px 0 #6160600f;
    transform: scale(1.01);
}

.card .img {
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

.card h1 {
    font-size: 20px;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 14px;
    margin-bottom: 0;
}

.card p {
    margin-top: 7px;
    font-size: 14px;
    color: #808080;
}

.card:hover::before {
    opacity: 1;
}

.card::before,
.card::after {
    border-radius: inherit;
    content: '';
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
}

.card::before {
    background: radial-gradient(
        400px circle at var(--mouse-x) var(--mouse-y),
        rgba(255, 255, 255, 0.08),
        transparent 40%
    );
    z-index: 3;
}

.card::after {
    background: radial-gradient(
        600px circle at var(--mouse-x) var(--mouse-y),
        rgba(255, 255, 255, 0.001),
        transparent 40%
    );
    z-index: 1;
}

.card > .card-content {
    background: var(--card-color);
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    inset: 1px;
    padding: 15px;
    position: absolute;
    z-index: 2;
}

.card > .card-content .img {
    background-position: center;
    background-size: cover;
}

.button-desktop {
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    fill: #ffffff82;
}

.button-desktop svg {
    width: 20px;
    height: auto;
}

.button-desktop.inactive {
    cursor: not-allowed;
}

.button-desktop:hover svg {
    fill: #b7b6b6;
}

@media (max-width: 917px) {
    .button-desktop {
        display: none;
    }
    .buttons-mobile {
        display: flex !important;
    }
}

@media (max-width: 600px) {
    .contact svg {
        width: 35px !important;
    }
}

@media (max-width: 431px) {
    .footer {
        margin-bottom: 15px;
    }
}

.buttons-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    display: none;
}

.buttons-mobile svg {
    width: 20px;
    height: auto;
    fill: #ffffff82;
}

.buttons-mobile .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: min-content;
}

.buttons-mobile .button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.hero p {
    color: #dbdbdb;
    color: #aeaeae;
    font-size: 20px;
}

.contact .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin: auto;
    max-width: 900px;
}

.contact .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.contact .icon a {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    transition: 0.3s;
}

.contact .icon a:hover {
    transform: scale(1.1);
}


.contact svg {
    width: 50px;
    fill: #ffffff91;
    transition: 0.2s;
    height: auto;
    transition: 0.3s;
}

.contact svg:hover {
    fill: #ffffffb7;
}

.contact i {
    font-size: 45px;
    color: white;
    transition: 0.2s;
}

.contact i:hover {
    color: #b7b6b6;
}

.footer {
    height: 40px;
}

.footer .content {
    display: flex;
    justify-content: center;
    align-items: center;
    word-spacing: 2px;
}

.footer .content p {
    color: #767679;
}

.footer .content span {
    color: #f52929;
}

.footer .content a {
    color: #09fcfc;
}

.not-found * {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

.not-found .container {
    height: 100vh;
    width: 100%;
    background: rgb(98, 65, 69);
    background: linear-gradient(
        160deg,
        rgba(98, 65, 69, 1) 0%,
        rgba(2, 2, 3, 1) 70%
    );
}

.not-found .filter {
    height: 100%;
    width: 100%;
    backdrop-filter: blur(200px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.not-found .content {
    height: auto;
    width: auto;
}

.not-found p,
h1 {
    color: white;
}

.not-found h1 {
    font-size: 60px;
}

.not-found p {
    font-size: 25px;
    color: #dbdbdb;
}

.not-found .back {
    position: fixed;
    height: 30px;
    z-index: 1000;
    padding: 20px;
}

.not-found .back a {
    text-decoration: none;
    color: #dbdbdb;
}

.preview {
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
}

.preview .filter {
    background: #000000a4;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview .wrapper {
    box-sizing: border-box;
    width: calc(100% - var(--preview-margin) * 2);
    height: calc(100% - var(--preview-margin) * 2);
    display: flex;
    padding: 20px;
}

.preview .side {
    width: 50%;
}

@media (max-width: 1100px) {
    .preview .wrapper {
        display: block;
        width: fit-content;
        height: fit-content;
    }

    .preview .side {
        width: 100%;
    }

    .preview .right {
        justify-content: flex-start !important;
        margin-top: 100px;
    }
}

@media (max-width: 480px) {
    .preview h1 {
        font-size: 50px !important;
    }

    .preview .spotify {
        max-width: 350px;
    }

    .preview svg {
        width: 40px !important;
    }
}

@media (max-width: 420px) {
    .preview h1 {
        font-size: 45px !important;
    }

    .preview .spotify {
        max-width: 300px;
    }
}

@media (max-width: 360px) {
    .preview h1 {
        font-size: 40px !important;
    }

    .preview .spotify {
        max-width: 250px;
    }
}

.preview .right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.preview svg {
    width: 50px;
    height: auto;
    fill: #c9c3c3;
    transition: 0.2s;
}

.preview svg:hover {
    fill: #979292;
}

.preview .links a:not(.preview .links a:last-of-type) {
    margin-right: 43px;
}

.preview h1 {
    font-family: 'Integral CF';
    font-size: 60px;
    margin-bottom: 5px;
}

.preview p {
    color: #bfbfbf;
    font-size: 20px;
}

.preview .spotify {
    margin-top: 70px;
    width: 400px;
}

.preview .youtube {
    margin-top: 70px;
}

.preview .youtube iframe {
    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.082),
        0 6px 20px 0 rgba(0, 0, 0, 0.059);
    border-radius: 10px;
}

@media (max-width: 463px) {
    .preview .youtube iframe {
        width: calc(426px*0.8);
        height: calc(240px*0.8);
    }
}

@media (max-width: 463px) {
    .preview .youtube iframe {
        width: calc(426px*0.8);
        height: calc(240px*0.8);
    }
}

@media (max-width: 376px) {
    .preview .youtube iframe {
        width: calc(426px*0.7);
        height: calc(240px*0.7);
    }
}

.preview .return {
    position: fixed;
    bottom: 10px;
    left: 16px;
}

.preview .return a {
    color: #ffffff57;
}
